body{
    background-image: url(./Images/509442.jpg);
    background-repeat: no-repeat;
    background-size: 100%
    
}

/* body:hover{
  background-image: url(./Images/jj1.webp);
} */
#header{
    background-color:transparent;
    color: white;
    }
    
    #header h1{
        display: inline-block;
        font-size: 50px;
        box-shadow: 5px 5px 5px 5px;
        font-family: 'Tourney', cursive;
    }
    
    #header ul li{
    display: inline-block;
    font-size: 16px;
    }
    #header div{
    display: inline-block;
    }
    
    #left{
        width: 70%;
    }
    
    a{
        color: white;
    }

    #headersection2{
    
        color: black;
        padding-bottom: 40px;
    }

    #headersection2 ul li{
        display: inline;
        margin-left: 15px;
    }
    
    #headersection2 h4{
        display: inline;
    }
    
    #headersection2{
        background-color: transparent;
        color: white;
        height:62px;
    }
    
    #headersection2 ul li:hover{
        color: red;
    }
    
    #headersection2 ul{
        padding-top: 12px;
        padding-bottom: 16px;
    }
    #imagesection{
        width: 50%;
        
    }
    #imagesection p{
        color: white;
        
    }

    
    #footer{
         color: white;
         position: relative;
         padding-top: 30px;
         padding-left: 75px;
         text-align: center;
         margin: auto;
     }
     
     #footer h4{
         font-size: 80px;
         color:white;
         font-family: 'Tourney', cursive;
     }
     
     /* #footer p{
         display: inline-block;
     } */
     
     #footer button{
         /* display: inline-block; */
         background-color:transparent;
        /* padding-right: 10px; */
        width: 20%;
        height: 60%;
        font-size: 20px;
        border-radius: 20px;
       text-shadow: 5px;
     }
     
     /* #footer div{
     padding-left: 50px;
     height: 80px;
     } */